#p{
    margin: 100px auto ;
    height :500px;
    width :400px;
    
    background-color: rgb(253, 253, 237);
    border-radius: 20px;
    border: 2px solid red;
    position: relative;
    display: inline-block;
} 


#b1{
    height :50%;
    width :100%;
    border-radius: 20px;
    background-color: rgb(0, 27, 199);
    
}
#p img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    
    position: absolute;
    left :30%;
    top :10%;
}
#na{
    position: absolute;
    top: 60%;
    left: 39%;
}
#g1{
    height: 50px;
    width: 100px;
    background-color: rgb(24, 143, 0);
    border-radius: 20px;
    position: absolute;
    top : 70%;
    left : 35%
}