#d1{

    height: 800px;
    width: 800px;
    background-color: rgb(186, 46, 69);
}

#d2{
   
    height: 600px;
    width: 600px;
    background-color: rgb(45, 145, 195);
}
#d3{
   
    height: 400px;
    width: 400px;
    background-color: rgb(255, 192, 192);
}
#t1{
    height: 200px;
    width: 800px;
    background-color: bisque;
}
#t2{
    height: 50px;
    width: 200px;
    border: solid black;
    background-color: burlywood;

}
#t3{
    height: 50px;
    width: 200px;
    border-radius: 50%;
    border: solid black;
    background-color: blueviolet;
}
#t4{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid black;
    background-color: rgb(43, 226, 150);
}
#t5{
    height: 50px;
    width: 200px;
    border: solid black;
    background-color: rgb(226, 43, 49);
}
#c1{
    width: 1000px;
    height: 1000px;
    border-radius:  50%;
    background-color: aqua;
}
#c2{
    width: 800px;
    height: 800px;
    border-radius:  50%;
    background-color: rgb(136, 0, 255);
}
#c3{
    width: 600px;
    height: 600px;
    border-radius:  50%;
    background-color: rgb(255, 0, 136);
}

#g1{
    width: 800px;
    height: 800px;
    background-color: chocolate;
    transition: 3s;
}
#g1:hover{
   background-color: brown; 
   border-radius: 30%;
   background-image: linear-gradient(blueviolet,blue,yellow,violet,red);
}