body{
    perspective: 900px;
}
#main{
    height: 800px;
    width :600px;
    /* border : 2px solid black; */
    margin: 50px auto;
    position: relative;
    transition: 3s;
    transform-style: preserve-3d;
}
#main:hover{
    transform: rotateY(180deg);
}
#main div{
    height: 50%;
    width: 100%;
    position:absolute;
    color: snow;
}
img{
    height: 100%;
    width: 100%;
}
#first {
    background-color: blueviolet;
    z-index: 1;
    backface-visibility: hidden;
   
}
#second{
    background-color: rgb(44, 193, 51);
    transform: rotateY(180deg);
}